body {
    font-family: "poppins", sans-serif;
}

.container3 {
    width: 100%;
    margin: 0 auto;
    margin-top: 0px;
    background-color: #ffffff;
    background-position: center;
    background-size: cover;
}

.slide3 img {
    width: 100px;
    height: auto;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-top: 15px;
    gap: 100px;
}

.slide3 p {
    margin-top: 0px;
    font-size: xx-large;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-bottom: 0px;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}
.product { 
    width: 20%; /* Ganti dengan lebar yang diinginkan */
    height: auto; /* Biarkan tinggi menyesuaikan proporsi */
    text-align: center; /* Untuk mengatur teks ke tengah jika diperlukan */
    margin: 2px; /* Atur jarak antar produk */
}
.product img {
  min-width: 200px;
  height: auto;
}
.buy-now-button {
  display: block;
  width: 60%;
  height: auto;
  padding: 10px;
  margin: 10px auto 0;
  background-color: #f1a745;
  color: rgb(7, 7, 7);
  text-decoration: none;
  border: none;
  border-radius: 20px;
  font-size: 12px;
  font-family: "roboto", sans-serif;
  font-weight: bold;
}
.buy-now-button:hover {
  background-color: #ff9305;
}

/* Media query untuk layar yang lebih kecil */
@media (max-width: 768px) {
  .slide3 p {
      font-size: 1.5em; /* Mengurangi ukuran font pada layar kecil */
  }

  /* .product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 10px;
  } */

  .product { 
    width: 30%; /* Ganti dengan lebar yang diinginkan */
    height: auto; /* Biarkan tinggi menyesuaikan proporsi */
    text-align: center; /* Untuk mengatur teks ke tengah jika diperlukan */
    margin: 30px; /* Atur jarak antar produk */
}
  .buy-now-button {
      width: 100%; /* Menyesuaikan lebar tombol dengan lebar kontainer pada layar kecil */
  }
}