body {
    font-family: "poppins", sans-serif;
}
.container {
    width: 100%;
    margin: 0 auto;
    background-color: rgb(251, 251, 251);
}
.container1 {
    width: 100%;
    margin: 0 auto;
    background-image: url('/asset-img/bgputih.png');
    background-position: center;
    background-size: cover;
}
.text-with-lines {
    display: flex;
    align-items: center;
    align-content: center;
}
.line {
    border-top: 2px solid #faa432;
    width:15vw;
    margin: 0 auto; /* Jarak antara teks dan garis */
    align-items: center;
    justify-content: center;
    padding-left: 2px;
    padding-right: 2px;
}
.featured-image {
    width: 100%;
    max-width: 90px; /* Sesuaikan dengan ukuran yang diinginkan */
    margin: 0 auto;
    display: flex;
    align-items:center;
    justify-content: center;
}
  .featured-image img {
    width: 90%;
    height: auto;
    display: flex;
    margin-left: 10px;
}

@media (max-width: 768px) {
    .headline p {
        margin-left: 0; /* Reset margin kiri untuk layout responsif */
    }

    .featured-image {
        flex-direction: row; /* Susun vertikal untuk layar kecil */
        align-items: center; /* Geser elemen ke kiri untuk layar kecil */
    }

    .featured-image img {
        max-width: 50%; /* Penuh lebar untuk layar kecil */
        margin-bottom: 10px; /* Jarak bawah yang lebih kecil untuk responsif */
    }

    .content p {
        margin-right: 0; /* Reset margin kanan untuk layout responsif */
    }
}