body {
    font-family: "poppins", sans-serif;
}

.container6 {
    width: 90vw;
    margin: 0 auto;
    margin-top: 0px;
    display: flex;
    background-color: #000;
    background-size: cover;
}

.slide6 {
    margin-right: 2px;
    align-content: center;
}

.footer {
    background-color: #000000;    /* Warna latar belakang footer */
    padding: 20px 0;   /* Ruang di dalam footer */
}

.footer-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.logo img {
    max-width: 100px;/* Atur lebar maksimum logo */
    margin-left: 20px;
}

.contact-info {
    text-align: right;
}

.contact-info h3 {
    margin-bottom: 10px;
}

.contact-info p {
    font-size: 14px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 70px;
}

.logo-item {
    text-align: center;
    display: flex;
    flex-direction: column;
    line-height: 10px;
    width: 45%;
    
}

.logo-item .title-1 {
    width: 100px;
    font-size: 22px;
    font-weight: 600;
}

.logo-item .title-2 {
    font-size: 12px;
    font-weight: 300;
}

.description{
    margin-top: 20px;
}

.description p {
    margin-top: 20px;
    margin-left: 0px;
    width: 200px;
    font-size: 12px;
    float: left;
}
